.header-border {
    font-size: 1.2rem;
    padding-bottom: 10px;
    border-bottom: 4px solid rgb(70, 157, 163);
}
#intro-header {
    text-align: center;
}

.intro-content {
    color: rgb(134, 134, 134);
    line-height: 1.9rem;
    font-size: 1rem;
}

#intro-img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}


#skill-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.skill-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill-content, .edu-content, .work-content {
    line-height: 1.9rem;
    color: rgb(134, 134, 134);
}

@media screen and (max-width: 670px){
    .four.wide.column.about-me-header {
        margin-bottom: 30px;
    }

    #intro, #edu, #education, #experience {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    

    .intro-content, .contact-details{
        text-align: center;
    }

    #intro-img{
        display: none;
    }

    .header-border {
        font-size: 1rem;
    }

    .intro-content{
        font-size: 0.8rem;
    }

    #skill-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
}