.footer-container {
    margin-top: 40px;
    min-height: 150px;
    padding: 10px;
    font-size: 18px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(161, 161, 161);
    background: rgb(43, 42, 42);
}

.footer-icons{
    display: flex;
}

.footer-img {
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    color: inherit;
    filter:drop-shadow(0px 1px 2px rgb(0, 0, 0, 80%));
    transition: All .2s;
}

.footer-img:hover {
    color: #fff;
    transition: All .2s;
}

@media screen and (max-width: 600px){
    .footer-container{
        font-size: 14px;
    }
}

@media screen and (max-width: 323px){
    .footer-container{
        font-size: 10px;
    }
}