.ui.text.container{
    text-align: center;
    margin-top: 3em;
    font-size: 4em;
    font-weight: normal;
}

h2.ui.header {
    font-size: 3rem;
}
h3.ui.header {
    font-weight: normal;
    margin-bottom: 100px;
}
