.ui.text.container{
    text-align: center;
    margin-top: 3em;
    font-size: 4em;
    font-weight: normal;
}

h2.ui.header {
    font-size: 3rem;
}
h3.ui.header {
    font-weight: normal;
    margin-bottom: 50px;
}

.header-community{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fb-icon, .linkedin-icon, .github-icon {
    cursor: pointer;
    color: #fff;
    margin-right: 20px;
    transition: all .4s;
    filter:drop-shadow(0px 1px 2px rgb(0, 0, 0, 80%));
}

.fb-icon:hover, .linkedin-icon:hover, .github-icon:hover {
    color:rgb(77,168,174);
    transition: all .4s;
}

@media screen and (max-width: 600px){
    .header-community {
        display: none;
    }
}
